# Non Graded Challenge
### Putra Rizqa Yasira

## Task 1

Given list of customer_id that doing transaction in 1 day:

customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

How many unique customer_id from above list?

In [30]:
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

customer_id

['B818',
 'A461',
 'A092',
 'A082',
 'B341',
 'A005',
 'A092',
 'A461',
 'B219',
 'B904',
 'A901',
 'A083',
 'B904',
 'A092',
 'B341',
 'B821',
 'B341',
 'B821',
 'B904',
 'B818',
 'A901',
 'A083',
 'B818',
 'A082',
 'B219',
 'B219',
 'A083',
 'A901',
 'A082',
 'B341',
 'B341',
 'A083',
 'A082',
 'B219',
 'B439',
 'A461',
 'A005',
 'A901',
 'B341',
 'A082',
 'A083',
 'A461',
 'A083',
 'A901',
 'A461',
 'A083',
 'A082',
 'A083',
 'B341',
 'A901',
 'A082',
 'A461',
 'B219',
 'A083',
 'B818',
 'B821',
 'A092',
 'B341',
 'A461',
 'A092',
 'A083',
 'B821',
 'A092']

In [31]:
setCustomerid = set(customer_id)

print("All unique data ",setCustomerid)

All unique data  {'B219', 'A901', 'A092', 'A005', 'B439', 'B821', 'A461', 'B818', 'B341', 'B904', 'A083', 'A082'}

In [32]:
print("Total of unique data ",len(setCustomerid))

Total of unique data  12

## Task 2

Given list of:

Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

Use indexing so you can get this output:

a.16

b.[36, 49, 64, 81]

c.[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [33]:
Data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

print("all data : " ,Data)

all data :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

a.16

In [34]:
Data[3]

16

b.[36, 49, 64, 81]

In [35]:
Data[5:9]

[36, 49, 64, 81]

c.[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [42]:
Data.reverse()

print(Data)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

## Task 3

Given a dictionary of:

provinsi = {'Nanggroe Aceh Darussalam': 'Aceh',
            'Sumatera Selatan': 'Palembang',
            'Kalimantan Barat': 'Pontianak',
            'Jawa Timur': 'Madiun',
            'Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

What python command can be use to:

a.Get list of keys available in dictionary

b.Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [37]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh',
            'Sumatera Selatan': 'Palembang',
            'Kalimantan Barat': 'Pontianak',
            'Jawa Timur': 'Madiun',
            'Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

provinsi

{'Nanggroe Aceh Darussalam': 'Aceh',
 'Sumatera Selatan': 'Palembang',
 'Kalimantan Barat': 'Pontianak',
 'Jawa Timur': 'Madiun',
 'Sulawesi Selatan': 'Makassar',
 'Maluku': 'Ambon'}

a.Get list of keys available in dictionary

In [38]:
provinsi.keys()

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])

b.Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [39]:
provinsi['Jawa Timur'] = 'Surabaya'

provinsi['Jawa Timur']

'Surabaya'

In [40]:
provinsi

{'Nanggroe Aceh Darussalam': 'Aceh',
 'Sumatera Selatan': 'Palembang',
 'Kalimantan Barat': 'Pontianak',
 'Jawa Timur': 'Surabaya',
 'Sulawesi Selatan': 'Makassar',
 'Maluku': 'Ambon'}